<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Reply Notification</title>
    <meta http—equiv="Content—Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device—width, initial-scale=1.0" />
</head>
<body>
<div>
    <p>Hello <%= name %></p>
    <p>A new reply has been added you your question in this video "<%= title %>"</p>
    <p>Please login to our website to view the reply and continue the discussion</p>
    <p>Thank you for being a part of our community.</p>
</div>
</body>
</html>
